 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 center">
                  <img class="img-responsive" src="img/profile.png" alt="" height = "180" width = "180" align="left" style="margin: 30px 40px" title="That's me">

                  <h3>David Johnson</h3>
                  <h4 style="color:#d9d9d9">david.j.c.johnson@gmail.com | 920.285.6700 | Orlando, FL</h4>
                  <p>
                    I recently graduated from The Iron Yard's Mobile Engineering
                    course: a rigorous 10-12 hours a day, 12-week course wherein I
                    learned the essentials of iOS Development. Despite having little
                    prior programming experience, I swiftly grasped the material
                    and concepts and took it upon myself to research new material
                    in my free time. Because of this, I quickly became an advisor
                    to my fellow students.</br></br>
                    I have a passion for programming and development; I'm excited
                    to earn a position where I can take on new challenges and
                    channel this enthusiasm.</br></br>
                    I'm really comfy with Swift, decent with Objective C, and know enough HTML to have built this website!
                    I'm currently seeking a Junior Developer position in or near
                    Orlando, FL, but am open to relocation.
                    </p>

                    <div class="row">
                      <div class="footer-col col-md-4">
                        <h4> &nbsp;&nbsp;   Languages</h4>
                        <ul>
                          {% for element in site.aboutMeLanguages %}
                            <li>{{ element.line }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                      <div class="footer-col col-md-4">
                        <h4> &nbsp;&nbsp;   What I use</h4>
                        <ul>
                          {% for element in site.aboutMeTools %}
                            <li>{{ element.line }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                      <div class="footer-col col-md-4">
                        <h4> &nbsp;&nbsp;   I am</h4>
                        <ul>
                          {% for element in site.aboutMeIAm %}
                            <li>{{ element.line }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>

                    </br></br></br></br></br>
                </div>

                <div class="col-lg-11 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
                <div class="col-lg-10 left">
                  <img class="img-responsive" src="https://www.theironyard.com/etc/designs/theironyard/icons/iron-yard-logo.svg" alt="" height = "200" width = "200" align="left" style="margin: 20px 40px" title="TIY Logo!">
                  <h3>The Iron Yard</h3>
                  <h4 style="color:#d9d9d9"> 407.358.6683 | 101 S Garland Ave #104, Orlando, FL 32801 </h4>
                  <p>
                    I learned the essentials of iOS Development in an immersive 12-week course at The Iron Yard in Orlando. Hands-on, rigorous, and intense, the course had us working deeply with Xcode and Github and learning and coding with Swift and Objective C 10-12 hours a day. By the end of the first week, the homework for each night was a light (but full-featured) iOS application.
                  </br></br>
                  </p>

                  <div class="row">
                    <div class="footer-col col-md-4">
                      <h4> &nbsp;&nbsp; Gained experience in</h4>
                      <ul>
                      <li> Swift </li>
                      <li> Objective C </li>
                      <li> Xcode </li>
                      <li> Github </li>
                      <li> RESTful APIs </li>
                      <li> CoreData </li>
                      <li> NSCoding </li>
                      <li> CocoaPods </li>
                      <li> Parse </li>
                      <li> Realm </li>
                      <li> Paired Programming / Team Programming </li>
                      </ul>
                      </br></br>
                    </div>
                    <div class="footer-col col-md-4">
                      <h4>  </h4>
                    </div>
                  </div>

                </div>

                <div class="col-lg-10 left">
                  <img class="img-responsive" src="img/icons/history.png" alt="" height = "180" width = "180" align="left" style="margin: 30px 30px">
                  <h3>Other</h3>
                  <p>
                    If you'd like to check out my other (non-development related) experience, you can check out my                                 <a href="https://www.linkedin.com/in/david-johnson-8b4783a7#background-experience" target="_blank" style="color:white">LinkedIn.</a>
                  </p>
                  <a href="https://www.linkedin.com/in/david-johnson-8b4783a7#background-experience" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                </div>


                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
              -->
            </div>
        </div>
    </section>
