 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 left">
                  <img class="img-responsive" src="img/profile.png" alt="" height = "180" width = "180" align="left" style="margin: 40px 40px" title="That's me">
                </div>
                <div class="col-lg-10 center">
                  <h3>David Johnson</h3>
                  <h4>david.j.c.johnson@gmail.com | 920.285.6700 | Orlando, FL</h4>
                  <p>
                    I recently graduated from The Iron Yard's Mobile Engineering
                    course: a rigorous 10-12 hours a day, 12-week course wherein I
                    learned the essentials of iOS Development. Despite having little
                    prior programming experience, I swiftly grasped the material
                    and concepts and took it upon myself to research new material
                    in my free time. Because of this, I quickly became an consultant
                    to my fellow students.</br></br>
                    I have a passion for programming and development; I'm excited
                    to earn a position where I can take on new challenges and
                    channel this enthusiasm.</br></br>
                    I'm really comfy with Swift, decent with Objective C, and know enough HTML to have built this website!
                    I'm currently seeking a Junior Developer position in or near
                    Orlando, FL, but am open to relocation!
                    </br></br></br></br></br>
                  </p>
                    <!-- <p> -->
                      <!-- WIP -->
                    <!-- </p> -->
                </div>

                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-light">
                </div>
                <div class="col-lg-10 center">
                  <img class="img-responsive" src="https://www.theironyard.com/etc/designs/theironyard/icons/iron-yard-logo.svg" alt="" height = "200" width = "200" align="left" style="margin: 40px 40px" title="TIY Logo!">
                </div>
                <div class="col-lg-10 center">
                  <h3>The Iron Yard</h3>
                  <h4> 407.358.6683 | 101 S Garland Ave #104, Orlando, FL 32801 </h4>
                  <p>
                    I learned the essentials of iOS Development in an immersive 12-week course at The Iron Yard in Orlando. Hands-on, rigorous, and intense, the course had us working deeply with Github and Xcode and learning and coding with Swift and Objective C 10-12 hours a day. By the end of the first week, the homework for each night was a light (but full-featured) iOS application.
                  </br></br>
                    Gained experience in:
                    <ul>
                    <li> Swift </li>
                    <li> Objective C </li>
                    <li> Github </li>
                    <li> RESTful APIs </li>
                    <li> CoreData </li>
                    <li> NSCoding </li>
                    <li> CocoaPods </li>
                    <li> Parse </li>
                    <li> Realm </li>
                    <li> Paired Programming / Team Programming </li>
                    </ul>
                    </br></br>
                  </p>
                    <!-- <p> -->
                      <!-- WIP -->
                    <!-- </p> -->
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
              -->
            </div>
        </div>
    </section>
