    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="img-logo-small" src="img/logo.png/">
                        <h1>
                          <img class="img-header-big" src="/img/header_intro.png">
                       </h1>

                        <p class="intro-text"></p>

                        <a href="#portfolio" class="page-scroll">
                          <h2>
                            <hr class="btn-down" />
                          </h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
